body {
  font-family: 'Arvo', sans-serif;

}

a {
  color: #f77c01;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  font-size: 30px;
  font-family: 'Ruslan Display', sans-serif;
  margin-bottom: 5px;


}


nav .selected, nav :hover {
  color: #2e74b7;
}

p {
  font-size: 35px;
  font-family: 'Courgette', cursive;


}

h2 {
  font-size: 50px;
  padding-left: 35px;
  font-family: 'Ruslan Display', sans-serif;

}

ol {
  padding-left: 50px;
  font-family: 'Lobster', cursive;

}

.indexul {
  font-family: 'Courgette', cursive;

}

li {
  font-size: 40px;

}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


}

.orangediv {
  background-color: #f77c01;
  width: 100%;
  display: block;
  clear: both;
}

#basketballimg {
  background-image: url(rsz_basketball.jpg);
  background-size: 100%;
  height: 250px;
}

.offensep, .defensep {
  text-align: center;
}


.naismithimg, .firstbasketimg {
  float: left;
  padding-right: 30px;
  padding-left: 70px;

}

.createdh2, .inspiredh2, .offenseh2, .defenseh2, .basketballh2, .commonrulesh2 {
  text-align: center;
}

.offensivepositionsh2, .differentdefenseh2 {
  clear: left;
  padding-top: 30px;
  text-align: center;
}


.pointguardsimg, .shootingguardsimg, .smallforwardsimg, .powerforwardsimg, .centersimg,
.mantomandefenseimg, .zonedefenseimg, .bothdefenseimg  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 30px;
}

.faqbasketball2img, .faqbasketballshoeimg {
  float: right;
}

.faqbasketball2img {
  padding-right: 100px;
}

.faqbasketballshoeimg {
  padding-right: 100px;
  padding-top: 50px;
}

.emailp {
  text-align: center;
}

.emaillogoimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  padding-top: 30px;

}


footer {
    text-align: center;
    color: #f77c01;

}






/*************************
Media Queries
*************************/

@media only screen and (min-width : 321px) {
  body {
    font-family: 'Arvo', sans-serif;

  }

  a {
   color: #f77c01;
   text-decoration: none;
  }

    nav ul li {
   display: block;
   font-size: 30px;
   font-family: 'Ruslan Display', sans-serif;
   text-align: center;
   /* margin-bottom: 5px; */
   /* margin-right: 100px; */

  }


  nav .selected, nav :hover {
   color: #2e74b7;

  }

  p {
    font-size: 35px;
    font-family: 'Courgette', cursive;


  }

  h2 {
    font-size: 50px;
    padding-left: 35px;
    font-family: 'Ruslan Display', sans-serif;

  }

  ol {
    padding-left: 50px;
    font-family: 'Lobster', cursive;

  }

  .indexul {
    font-family: 'Courgette', cursive;

  }

  li {
    font-size: 40px;

  }

  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;


  }

  .orangediv {
    background-color: #f77c01;
    width: 100%;
    display: block;
    clear: both;
  }

  #basketballimg {
    background-image: url(rsz_basketball.jpg);
    background-size: 100%;
    height: 250px;
  }

  .offensep, .defensep {
    text-align: center;
  }


  .naismithimg, .firstbasketimg {
    float: left;
    padding-right: 30px;
    padding-left: 70px;

  }

  .createdh2, .inspiredh2, .offenseh2, .defenseh2, .basketballh2, .commonrulesh2 {
    text-align: center;
  }

  .offensivepositionsh2, .differentdefenseh2 {
    clear: left;
    padding-top: 30px;
    text-align: center;
  }


  .pointguardsimg, .shootingguardsimg, .smallforwardsimg, .powerforwardsimg, .centersimg,
  .mantomandefenseimg, .zonedefenseimg, .bothdefenseimg  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 30px;
  }

  .faqbasketball2img, .faqbasketballshoeimg {
    float: right;
  }

  .faqbasketball2img {
    padding-right: 100px;
  }

  .faqbasketballshoeimg {
    padding-right: 100px;
    padding-top: 50px;
  }

  .emailp {
    text-align: center;
  }

  .emaillogoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    padding-top: 30px;

  }


  footer {
      text-align: center;
      color: #f77c01;

  }


}

@media only screen and (min-width: 768px),
     only screen and (min-width: 700px) and (orientation: landscape) {

       body {
         font-family: 'Arvo', sans-serif;

       }

       a {
        color: #f77c01;
        text-decoration: none;
       }

         nav ul li {
        display: inline-block;
        font-size: 30px;
        font-family: 'Ruslan Display', sans-serif;
        margin-bottom: 5px;
        margin-right: 15px;
        margin-left: 10px;
       }


       nav .selected, nav :hover {
        color: #2e74b7;
       }

       p {
         font-size: 35px;
         font-family: 'Courgette', cursive;


       }

       h2 {
         font-size: 50px;
         padding-left: 35px;
         font-family: 'Ruslan Display', sans-serif;

       }

       ol {
         padding-left: 50px;
         font-family: 'Lobster', cursive;

       }

       .indexul {
         font-family: 'Courgette', cursive;

       }

       li {
         font-size: 40px;

       }

       iframe {
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 50%;


       }

       .orangediv {
         background-color: #f77c01;
         width: 100%;
         display: block;
         clear: both;
       }

       #basketballimg {
         background-image: url(rsz_basketball.jpg);
         background-size: 100%;
         height: 250px;
       }

       .offensep, .defensep {
         text-align: center;
       }


       .naismithimg, .firstbasketimg {
         float: left;
         padding-right: 30px;
         padding-left: 70px;

       }

       .createdh2, .inspiredh2, .offenseh2, .defenseh2, .basketballh2, .commonrulesh2 {
         text-align: center;
       }

       .offensivepositionsh2, .differentdefenseh2 {
         clear: left;
         padding-top: 30px;
         text-align: center;
       }


       .pointguardsimg, .shootingguardsimg, .smallforwardsimg, .powerforwardsimg, .centersimg,
       .mantomandefenseimg, .zonedefenseimg, .bothdefenseimg  {
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 50%;
         padding-top: 30px;
       }

       .faqbasketball2img, .faqbasketballshoeimg {
         float: right;
       }

       .faqbasketball2img {
         padding-right: 100px;
       }

       .faqbasketballshoeimg {
         padding-right: 100px;
         padding-top: 50px;
       }

       .emailp {
         text-align: center;
       }

       .emaillogoimg {
         display: block;
         margin-left: auto;
         margin-right: auto;
         /* width: 50%; */
         padding-top: 30px;

       }


       footer {
           text-align: center;
           color: #f77c01;

       }





}

@media only screen and (min-width: 1140px) {

  body {
  	 font-family: 'Arvo', sans-serif;

  }

  a {
  	color: #f77c01;
  	text-decoration: none;
  }

    nav ul li {
  	display: inline-block;
  	font-size: 40px;
    margin-left: 50px;
    font-family: 'Ruslan Display', sans-serif;

  }


  nav .selected, nav :hover {
  	color: #2e74b7;
  }

  p {
    font-size: 35px;
    font-family: 'Courgette', cursive;


  }

  h2 {
    font-size: 50px;
    padding-left: 35px;
    font-family: 'Ruslan Display', sans-serif;

  }

  ol {
    padding-left: 50px;
    font-family: 'Lobster', cursive;

  }

  .indexul {
    font-family: 'Courgette', cursive;

  }

  li {
    font-size: 40px;

  }

  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;


  }

  .orangediv {
    background-color: #f77c01;
    width: 100%;
    display: block;
    clear: both;
  }

  #basketballimg {
    background-image: url(rsz_basketball.jpg);
    background-size: 100%;
    height: 250px;
  }

  .offensep, .defensep {
    text-align: center;
  }


  .naismithimg, .firstbasketimg {
    float: left;
    padding-right: 30px;
    padding-left: 70px;

  }

  .createdh2, .inspiredh2, .offenseh2, .defenseh2, .basketballh2, .commonrulesh2 {
    text-align: center;
  }

  .offensivepositionsh2, .differentdefenseh2 {
    clear: left;
    padding-top: 30px;
    text-align: center;
  }


  .pointguardsimg, .shootingguardsimg, .smallforwardsimg, .powerforwardsimg, .centersimg,
  .mantomandefenseimg, .zonedefenseimg, .bothdefenseimg  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 30px;
  }

  .faqbasketball2img, .faqbasketballshoeimg {
    float: right;
  }

  .faqbasketball2img {
    padding-right: 100px;
  }

  .faqbasketballshoeimg {
    padding-right: 200px;
    padding-top: 50px;
  }

  .emailp {
    text-align: center;
  }

  .emaillogoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    padding-top: 30px;

  }


  footer {
      text-align: center;
      color: #f77c01;

  }




}
